{{ define "main" }}
<div class="row justify-content-center">
  <div class="col-md-12 col-lg-10 col-xl-8">
    <article>
      <div class="blog-header">
        <h1>{{ .Title }}</h1>
        <a target="_blank" class="btn btn-primary btn-sm px-4 mb-0 fs-5" href="/app?dataset={{ .Params.dataset }}" role="button">Follow this demo with preloaded dataset in Data Illustrateur</a>
        <!-- {{ partial "main/blog-meta.html" . }} -->
      </div>
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <p class="fs-4">{{ .Content }}</p>
    </article>
  </div>
</div>
{{ end }}